@import "../../App.scss";

.loader-overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba($gray, .3);
  z-index: 5;
  .loader-container {
    position: relative;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {
      width: 70px; height: 70px;
      border: 10px solid $gray;
      border-top-color: $purple;
      border-radius: 50%;
      animation: rotation 1.5s linear infinite;
    }
  }
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 