.auth-page-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(105,18,203);
  background: linear-gradient(90deg, rgba(105,18,203,1) 0%, rgba(37,116,251,1) 100%);
}