@import "../../App.scss";

.ad-cart {
  display: flex;
  flex-direction: column;
  min-height: 550px;
  width: 31%!important;
  margin: 0 10px;
  box-shadow: 8px 8px 20px 0px rgba($blue, .2);
  border-radius: 15px;
  transition: $transition;
  &:hover {
    box-shadow: 8px 8px 20px 0px rgba($blue, 1);
  }
  div:first-child {
    height: 250px;
    img {
      width: 100%;
      height: inherit;
      object-fit: contain;
    }
  }
  div:last-child {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    .ad-price {
      font-size: 22px;
      font-style: italic;
      span {
        color: $purple;
      }
    }
    .primary-btn {
      padding: 10px 30px;
      background-color: $blue;
      border: 2px solid $blue;
      transition: $transition;
      &:hover {
        border-color: $purple;
        background-color: $purple;
      }
    }
  }
}