@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

$black: #262626;
$purple: #6912cb;
$blue: #2574fb;
$white: #fff;
$gray: #767676;
$transition: .3s ease-in;
$box-shadow: 8px 8px 20px 0px rgba($gray, .5);

p {
  color: $gray;
}
ul, p, input {
  margin-bottom: 0;
}
a {
  color: $gray;
  text-decoration: none;
  transition: $transition;
  &:hover {
    color: $white;
  }
}
ul {
  list-style: none;
}
h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
}
h3 {
  font-weight: 900;
  font-size: 28px;
}
body {
  overflow-x: hidden;
}
.primary-btn {
  background-color: $black;
  padding: 15px 25px;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid $white;
  min-width: 150px;
  transition: $transition;
  &:hover {
    background-color: $white;
    color: $black;
  }
}
.secondary-btn {
  background-color: transparent;
  padding: 5px 10px;
  color: $white;
  border: 2px solid $white;
  border-radius: 15px;
  outline: none;
  transition: $transition;
  font-size: 20px;
  min-width: 120px;
  &:hover {
    background-color: $blue;
    color: $black;
    border-color: $black;
  }
}